.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font: 80px;
    width: 325px;
    height: 40px;
    border: 3px solid black;
    border-radius: 10px;
}
button{
    font-size: 25px;
    background: lightcoral;
    width: 80px;
    height: 60px;
    border-radius: 10px;
}
.calculator{
    display:inline-block;
    background-color: black;
    padding: 15px;
    border-radius: 40px;
}